<!doctype html>
<html lang="en">
{% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <title>Mohanad Abu Nayla</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  </head>

  <body>

    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-info">
  <a class="navbar-brand" href="/">Mohanad Abu Nayla</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link active" href="">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="https://www.twitter.com/mohanad_qaa">Twitter</a>
      <a class="nav-item nav-link" href="{% static 'resume.docx' %}">Resume</a>
      <a class="nav-item nav-link" href="{% url 'all_blogs' %}">Blog</a>

    </div>
  </div>
</nav>
    </header>

    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Hi, I'm Mohanad</h1>
          <p class="lead text-muted">Hey, my name is Mohanad and I love developing AI/ML/DL applications, responisve Django-Bootstrap webapps, iOS Native Apps and Video Games for all platforms 😀</p>
          <p>
            <img src =" {% static 'mohanad.jpg' %}"class="rounded-circle" alt="Cinque Terre"/>
            <br/>
            <a href="mailto: aljaboori@gmail.com" class="btn btn-primary my-2">Email Me</a>
          </p>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">

{% for job in jobs.all %}

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{job.image.url  }}" class="rounded-circl" />
                <div class="card-body">
                  <p class="card-text">{{job.summary}}</p>
                </div>
                <div class="card-body">
                  {% if job.ios_url != "" %}
                    <a class="btn btn-primary" href="{{job.ios_url}}" role="button">iOS</a>
                   {% endif %}
                  {% if job.droid_url != "" %}
                    <a class="btn btn-primary" href="{{job.droid_url}}" role="button">Android</a>
                    {% endif %}
                  {% if job.job_url != "" %}
                    <a class="btn btn-primary" href="{{job.job_url}}" role="button">More Info</a>
                  {% endif %}

                  {% if job.video_url != "" %}
                    <a class="btn btn-primary" href="{{job.video_url}}" role="button">Watch Video</a>
                  {% endif %}
                  {% if job.download_url != "" %}
                    <a class="btn btn-primary" href="{{job.download_url}}" role="button">Download</a>
                  {% endif %}
                </div>
              </div>
            </div>
{% endfor %}

          </div>
        </div>
      </div>

    </main>

    <footer class="text-muted">
      <div class="container text-center">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>&copy Mohand Abu Nayla {% now "Y" %} - All rights resereved.</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  </body>
</html>
